<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body class="bg-white px-2">
    
    <%- include('../partials/navbar.ejs') %>

    <% if(alert.message !='' ) { %>
        <%- include('../partials/alert.ejs') %>
            <% } %>

    <div class="flex flex-row mt-20 px-20">
        
        <% for(let i=0; i < kategoris.length; i++){ %>
            <div class="basis-1/3 p-5">
                <div class="h-96">
                    <img class="w-full h-full" src="<%= kategoris[i].UrlGambar %>" alt="">
                </div>
                <h2 class="font-bold text-xl text-center mb-5">
                    <%= kategoris[i].Nama_Kategori %>
                </h2>
                <a class="text-center" href="/<%= kategoris[i].id %>/produk">
                    <p>Klik di sini untuk melanjutkan berbelanja <%= kategoris[i].Nama_Kategori %>
                    </p>
                </a>
            </div>
            <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
</body>

</html>